.App {
  text-align: center;
}

.Navbar {

  background-color: chocolate;
}

.Avatar {
  margin-top: 20px;
  border-radius: 50%;

}

.Vertical{
  border-left: 6px solid black;
  height: 1000x;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}

